@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.wrapper {
  height: 85px;
}

input {
  width: 100%;
  font-size: $fontSizeLarge;
  border-radius: 2px;
  padding: 10px 0 10px 35px;

  &::placeholder {
    color: $colorForPlaceholder;
  }
}

.field {
  border: 1px solid $borderForInput;

  &:hover {
    border: 1px solid $mainColor;
  }
  &:focus {
    border: 1px solid $mainColor;
    box-shadow: 0 0 3px $mainColor;
  }
}

.isError {
  border: 1px solid $colorError;

  &:focus {
    box-shadow: 0 0 3px $colorError;
  }
}

.wrapperField {
  position: relative;

  svg {
    @include position-svg;
  }
}

.inputMessage {
  color: $colorForMessageInput;
  font-size: $fontSizeForMessage;
}

.wrapperIconPass {
  @include center-flex;
  @include position-svg;
  right: 10px;

  svg {
    position: unset;
    top: 0;
    transform: unset;
  }
}

.passIcon {
  cursor: pointer;
  right: 10px;
}

.error {
  color: $colorError;
}

.iconError {
  color: $colorError;
  right: 10px;
  margin-left: 10px;
}

@media (max-width: 768px) {
  input {
    font-size: $fontSizeStandard;
  }
  .inputMessage {
    font-size: $fontSizeSmall;
  }
}