@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.listItem {
  @include center-flex;
  padding: 10px 20px;
  color: $colorForTextHeader;
  font-size: $fontSizeStandard;

  a, span {
    margin-left: 15px;
    color: inherit;
  }

  svg {
    width: 14px;
    height: 14px;
  }
}

.listItem:first-child {
  border-bottom: 1px solid $colorFOrLineBorder;
}