@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.label {
  font-size: $fontSizePrimary;
  color: inherit;
  margin-right: 5px;
}

.avatar {
  border-radius: 50%;
  width: 46px;
  height: 46px;
}

.listItem {
  @include flex-vertical-centre;
  padding: 10px 20px;
  color: $primaryText;
  font-size: $fontSizePrimary;

  a, span {
    margin-left: 15px;
    color: inherit;
  }

  svg {
    width: 14px;
    height: 14px;
  }
}

.listItem:first-child {
  border-bottom: 1px solid $primaryLineBorder;
}