@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.contact {
  font-size: $fontSizePrimary;
  color: $primary;
  margin: 10px 0;
  @include flex-vertical-centre;
}

.copiesSvg {
  font-size: $fontSizeLarge;
  margin-right: 10px;
  cursor: pointer;
  margin-top: 7px;
}

.copied {
  color: $copied;
}

.link {
  color: $primary;
}

.text {
  color: $primaryText;
  margin: unset;
}

.notificationCopy {
  position: absolute;
  top: -45px;
  left: -17px;
  min-width: 30px;
  min-height: 32px;
  padding: 6px 8px;
  color: $white;
  background-color: rgba(0,0,0,.75);
  border-radius: 2px;
  visibility: hidden;
  opacity: 0;
  transition: .3s;

  &:after {
    content: '';
    position: absolute;
    bottom: -45%;
    left: 37%;
    border: 7px solid transparent;
    border-top: 7px solid rgba(0, 0, 0, .75);
  }
}

.copySvg {
  position: relative;

  &:hover .notificationCopy {
    visibility: visible;
    opacity: 1;
  }
}