@import '../../assets/styles/variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  padding: 20px 40px;
  background: $white;
  box-shadow: 0 0 10px 0 $boxShadowHeader;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
  flex-basis: 95%;
}

.menuIsAuth {
  justify-content: end;
}

.menuNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuNavItem {
  color: $colorForTextHeader;
  font-size: $fontSizeStandard;
}

.menuNavItem:first-child {
  margin-right: 15px;
}

.signInBtn {
  display: flex;
  align-items: center;
  color: $mainColor;
  font-size: $fontSizeStandard;
  font-family: $fontSegoeUi;

  span {
    margin-left: 10px;
  }
}

.welcomeUser {
  position: relative;
  display: flex;
  align-items: center;
  color: $colorForTextHeader;

  &:hover {
    color: $mainColor;
    cursor: pointer;
  }
}

.welcomeUser:hover .dropDownSvg {
  rotate: 180deg;
  transition: .5s;
}

.welcomeUser:hover .dropDownList {
  height: 180%;
  transition: .5s;
}

.greeting {
  font-size: $fontSizeStandard;
  color: inherit;
  margin-right: 5px;
}

.dropDownSvg {
  margin-right: 15px;
  color: inherit;
  transition: .5s;
}

.dropDownList {
  position: absolute;
  overflow: hidden;
  height: 0;
  top: 65px;
  width: 100%;
  background: $white;
  transition: .5s;
}

.listItem {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: $colorForTextHeader;
  font-size: $fontSizeStandard;

  a, span {
    margin-left: 15px;
    color: inherit;
  }

  svg {
    width: 14px;
    height: 14px;
  }
}

.listItem:first-child {
  border-bottom: 1px solid $colorFOrLineBorder;
}

.circleAvatar {
  border-radius: 50%;
  width: 46px;
  height: 46px;
}

.blurBlock {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: $black;
  opacity: .5;
  z-index: 998;
}

.isBlur {
  display: block;
}

@media (max-width: 768px) {
  .menu {
    justify-content: end;
  }

  .welcomeUser:hover .dropDownList {
    height: 350%;
    transition: .5s;
  }
}