@import '../../assets/styles/variables';
@import "../../assets/styles/mixins";

.header {
  @include standard-flex;
  position: sticky;
  top: 0;
  padding: 20px 40px;
  background: $white;
  box-shadow: 0 0 10px 0 $boxShadowHeader;
}

.menu {
  @include standard-flex;
  margin-left: 30px;
  flex-basis: 95%;

  @include media-breakpoint-down(md) {
    justify-content: end;
  }
}

.menuIsAuth {
  justify-content: end;
}

.menuNav {
  @include standard-flex;
}

.menuNavItem {
  color: $colorForTextHeader;
  font-size: $fontSizeStandard;
}

.menuNavItem:first-child {
  margin-right: 15px;
}

.signInBtn {
  @include center-flex;
  color: $mainColor;
  font-size: $fontSizeStandard;
  font-family: $fontSegoeUi;

  span {
    margin-left: 10px;
  }
}

.greeting {
  font-size: $fontSizeStandard;
  color: inherit;
  margin-right: 5px;
}

.dropDownSvg {
  margin-right: 15px;
  color: inherit;
  transition: .5s;
}

.welcomeUser {
  position: relative;
  @include center-flex;
  color: $colorForTextHeader;

  &:hover {
    color: $mainColor;
    cursor: pointer;
  }
}

.welcomeUser:hover .dropDownSvg {
  rotate: 180deg;
  transition: .5s;
}

.welcomeUser:hover .dropDownList {
  height: 180%;
  transition: .5s;

  @include media-breakpoint-down(md) {
    height: 350%;
    transition: .5s;
  };
}

.dropDownList {
  position: absolute;
  overflow: hidden;
  height: 0;
  top: 65px;
  width: 100%;
  background: $white;
  transition: .5s;
}

.circleAvatar {
  border-radius: 50%;
  width: 46px;
  height: 46px;
}

.blurBlock {
  display: none;
  @include standard-position-fixed;
  background: $black;
  opacity: .5;
  z-index: 998;
}

.isBlur {
  display: block;
}