@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.contacts {
  flex: auto;
}

.head {
  @include flex(space-between, center);
}

.title {
  margin: 20px 0;
  font-weight: 600;
  color: $primaryText;
  font-size: $fontSizeTitle;
}

.switchView {
  @include flex(space-between, center);
}

.reload, .switchBtn {
  @include flex(center, center);
  width: 32px;
  height: 32px;
}

.reload {
  background: $white;
  border-radius: 50%;
  border: 1px dashed rgba(0, 0, 0, .2);
  margin-right: 10px;

  &:hover {
    color: $primary;
    border: 1px dashed $primary;
  }
}

.switchBtn {
  background: $white;
  border: 2px solid $primaryLineBorder;

  &:hover:not(.active) {
    color: $primary;
    border: 2px solid $primary;
  }
}

.active {
  color: $white;
  background: $primary;
}

.wrapperFilters {
  padding: 15px;
  background: $primaryBack;
  margin-bottom: 30px;
}

.filters {
  @include flex(space-between, center);
  background: $white;
  padding: 20px;
  color: $primaryText;

  @include media-max(lg) {
    flex-direction: column;
  }
}

.filterByName {
  @include flex(space-between, center);
  border: 1px solid $borderInput;
  width: 450px;
  border-radius: 5px;

  &:focus-within {
    border: 1px solid $primary;
    box-shadow: 0 0 3px $primary;
  }

  &:hover {
    border: 1px solid $primary;
  }

  &::placeholder {
    color: $placeholder;
  }

  @include media-max(xl) {
    width: 350px;
  }

  @include media-max(lg) {
    width: 100%;
  }
}

.fieldFilter {
  @include flex(space-between, centre);
  width: 90%;
}

.field {
  border: none;
  font-size: $fontSizeLarge;
  margin-left: 10px;
  width: 95%;
}

.fieldBtn {
  margin-top: 5px;
  font-size: $fontSizeM;
  color: $placeholder;

  &:hover {
    color: $clearButton;
  }
}

.searchIcon {
  border-left: 1px solid $borderInput;
  padding: 10px;
  color: $messageInput;
}

.gender {
  padding: 11px;
  width: 200px;
  font-size: $fontSizePrimary;

  @include media-max(lg) {
    width: 100%;
    padding: unset;
    margin: 20px 0;
  }
}

.selectNat {
  padding: 11px;
  width: 250px;
  font-size: $fontSizePrimary;

  @include media-max(lg) {
    width: 100%;
    padding: unset;
  }
}

.clear {
  @include flex(space-between, centre);
  color: $primary;
  cursor: pointer;

  @include media-max(lg) {
    margin-top: 20px;
  }
}

.clearBtn {
  margin: -2.5px 0 0 15px;
  color: $primary;
}

.table {
  background: $white;
  border-radius: 2px;
  border-spacing: 0;
  padding: 20px 30px;
  width: 100%;

  td {
    padding: 10px;

    &:last-child {
      text-align: right;
    }
  }
}

.firstRow {
  font-weight: 500;
  color: $title;
  font-size: $fontSizePrimary;
  background: $firstRow;
}

.fullNameSort {
  @include flex(start, center);
  transition: all .5s;

  &:hover {
    background: $backHeadTable;
  }
}

.sortIcons {
  @include flex(center, center);
  flex-direction: column;
  margin-left: 10px;
  cursor: pointer;
  font-size: $fontSizeS;
  color: $messageInput;

  svg:hover {
    color: $primary;
  }
}

.activeIconSort {
  color: $primary;
}

.row {
  td {
    font-size: $fontSizePrimary;
  }
}

.avatar {
  border-radius: 50%;
  width: 46px;
  height: 46px;
}

.dob {
  line-height: 2;
}

.fullName, .email, .phone {
  color: $primary;
}

.email {
  a {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100px;
  }
}

.address {
  width: 250px;
}

.nat {
  color: $white;
  background: $backNationality;
  padding: 2px 7px;
}

.blocksView {
  @include flex(space-between, center);
  flex-wrap: wrap;

  @include media-max(lg) {
    @include flex(center, center);
    flex-direction: column;
  }
}

.contact {
  width: 395px;
  max-width: 395px;
  margin: 10px 0;
  background: $white;
  transition: all .5s;

  &:hover {
    box-shadow: 0 7px 15px 0 $primaryShadow;
  }

  @include media-max(sm) {
    width: 250px;
    max-width: 250px;
  }
}

.blocksAvatar {
  width: 100%;
  height: 240px;
  object-fit: cover;
  margin-bottom: 20px;
}

.personalInfo {
  @include flex(center, start);
  flex-direction: column;
  padding: 0 30px 30px 30px;
}

.fullNameBlockView {
  font-weight: 500;
  color: $primary;
  padding-bottom: 15px;
  font-size: $fontSizePrimary;

  span {
    color: $messageInput;
  }

  //@include media-max(sm) {
  //  font-size: $fontSizeM;
  //}
}

.natBlocksView {
  margin-top: 20px;
}

.dashedLine {
  border-bottom: 1px dashed $dashedLine;
  width: 100%;
}