@import 'variables';
@import "mixins";
@import 'react-toastify/dist/ReactToastify.css';
@import 'react-loading-skeleton/dist/skeleton.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $fontSegoeUi;
  font-size: $fontSizePrimary;

  @include media-max(md) {
    font-size: $fontSizeSmall;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  font-family: $fontSegoeUi;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
}

input {
  outline: none;
  font-family: $fontSegoeUi;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}