$fontSegoeUi: "Segoe UI";
$fontSizeSmall: 10px;
$fontSizePrimary: 14px;
$fontSizeLarge: 16px;
$fontSizeMessage: 12px;

$white: #fff;
$black: #000;
$primary: #1890ff;
$error: #ff4d4f;
$primaryLineBorder: #f0f0f0;
$primaryText: rgba(0, 0, 0, .65);
$primaryShadow: rgba(51, 51, 51, .33%);

/* Header */
$successSvg: #52c41a;
$fontSizeSuccessSvg: 24px;

/* Model Window (SignIn) */
$modelWindowTitle: rgba(0, 0, 0, .85);
$cLose: #db402c;
$borderInput: #d9d9d9;
$svgInput: #595959;
$placeholder: #c4c4c4;
$messageInput: rgba(0, 0, 0, .45);